html, body {
    padding-top: calc(0px - var(--tg-safe-area-inset-top));
    padding-bottom: calc(0px - var(--tg-safe-area-inset-bottom));
    padding-left: calc(0px - var(--tg-safe-area-inset-left));
    padding-right: calc(0px - var(--tg-safe-area-inset-right));
}
@font-face {
    font-family: 'Groboldov';
    src: url('../fonts/Groboldov.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Makcex';
    src: url('../fonts/Makcex.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.back-img {
    width: 100%;
    height: 100%;
}

.wheel-container {
    top: 3vh;
    position: relative;
    width: 87vw;
    height: auto;
    aspect-ratio: 1/1;
    margin-top: 15px;
}

#wheelCanvas {
    display: block;
    margin: 0 auto;
}

.wheel-container canvas {
    width: 100%;
    height: 100%;
}

.arrow img,
.axis img,
img {
    max-width: 100%;
    max-height: 100%;
}

.wheel_ring {
    width: 100%;
    height: 100%;
}

.arrow,
.axis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19%;
}

/* Стрелка без дополнительного свечения */
.arrow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid red;
    z-index: 10;
}

#spinButton {
    display: block;
    margin: 40px auto;
    padding: 12px 17px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(45deg, #ff0000, #ff6600);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 6%;
    overflow: hidden;
    width: 55vw;
    height: 5vh;
    z-index: 3;
    font-family: 'Groboldov', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2vh;
}

#spinButton:hover {
    background: linear-gradient(45deg, #ff6600, #ff0000);
    /* box-shadow удалён */
    transform: scale(1.1);
}

#spinButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
    );
    font-family: 'Groboldov', sans-serif;
    transform: skewX(-45deg);
    transition: all 0.3s;
    z-index: 1;
    animation: shine 2s infinite linear;
}

#spinButton span {
    position: relative;
    z-index: 2;
}

@keyframes shine {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

#balance {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffd700;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
}

#spinsAvailable {
    position: relative;
    font-size: 2.5vh;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffd700;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Groboldov', sans-serif;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.8), 0 0 20px rgba(255, 165, 0, 0.6), 0 0 30px rgba(255, 140, 0, 0.4);
    margin-bottom: 7%;
}

@keyframes pulseGlow {}

.title {
    position: relative;
    top: 5px;
    font-size: 3.7vh;
    font-weight: bold;
    color: black;
    letter-spacing: 5px;
    text-align: center;
    background: none;
    text-shadow: 0 0 6px #fff, 0 0 12px #fff, 0 0 18px #fff;
    white-space: nowrap;
    margin: 0;
    font-family: 'Makcex', 'Groboldov', sans-serif;


    /* margin-top: 23%;  По умолчанию */
}

/* Если ширина экрана меньше 680px
@media (max-height: 680px) {
    .title {
        margin-top: 5%;
    }
}
*/
.wheel-div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes glow {
    0% {
        text-shadow:
            0 0 6px rgba(255, 255, 255, 0.7),
            0 0 12px rgba(255, 255, 255, 0.5),
            0 0 18px rgba(255, 255, 255, 0.3);
    }
    100% {
        text-shadow:
            0 0 8px rgba(255, 255, 255, 1),
            0 0 16px rgba(255, 255, 255, 0.8),
            0 0 24px rgba(255, 255, 255, 0.6);
    }
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -9999;
    overflow: hidden; /* Чтобы ничего не выходило за границы */
}

.video-ril {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}


.rim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        animation: metal-shine 2s infinite alternate;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    /* animation: metal-shine 2s infinite alternate; */
    /* filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); */
}

.buttons {
    position: relative;
    display: flex;
    margin-top: 7%;
    width: 100vw;
    transform: translateX(-50%);
    left: 50%;
}

.invite_friend_button {
    position: absolute;
    width: 7vw;
    left: 12%;
    transform: translateY(-50%);
    top: 50%;
    filter: brightness(0) invert(1);
}

.input_refer_button {
    position: absolute;
    width: 7vw;
    right: 11%;
    transform: translateY(-50%);
    top: 50%;
    filter: brightness(0) invert(1);
}

.prizeWonDiv {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 49%;
    width: 70vw;
    height: 33vh;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10%;
}

.border-text {
    width: 77%;
    border: 3px solid #E0E0E0;
    border-radius: 15px;
    margin-top: 9%;
    margin-bottom: 12px;
}

.confirm_button {
    width: 50%;
    height: 4vh;
    margin-top: 5px;
    background: linear-gradient(220deg, #00BFFF, #0000CD);
    border: none;
    border-radius: 22px;
    text-align: center;
    font-family: 'Groboldov', sans-serif;
    font-weight: 600;
    font-size: 1.7vh;
    line-height: 2vh;
    letter-spacing: -0.01em;
    color: white;
    margin: 15px;
}

.close_button {
    position: absolute;
    width: 5%;
    right: 4%;
    top: 3%;
    border: 2px #E0E0E0 solid;
    border-radius: 50%;
    padding: 3.5px;
}

.info_background_div {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 49%;
    width: 70vw;
    height: auto;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #ff0000, #ff6600);
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    z-index: 5;
}

.inbox_text {
    font-family: 'Groboldov', sans-serif;
    font-weight: 500;
    font-size: 1.7vh;
    line-height: 2vh;
    letter-spacing: -0.01em;
    color: white;
    padding: 15px;
}

.input_refer {
    width: 50%;
    height: 4vh;
    margin-top: 5px;
    background-color: white;
    border: none;
    border-radius: 22px;
    text-align: center;
    font-family: 'Groboldov', sans-serif;
    font-weight: 500;
    font-size: 1.7vh;
    line-height: 2vh;
}

.prize_win_image {
    width: 90%;
    height: auto;
    aspect-ratio: 1/1;
}

.prize_win_text {
    font-family: 'Groboldov', sans-serif;
    font-weight: 500;
    font-size: 1.5vh;
    line-height: 2vh;
    color: #637E9A;
}

.lights-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.light-bulb {
    width: 100px;
    height: 100px;
    position: absolute;
    --mask-size: 8%;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) var(--mask-size), rgba(0, 0, 0, 0) 30%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) var(--mask-size), rgba(0, 0, 0, 0) 30%);
    -webkit-mask-size: contain;
    animation: light-animation 1.5s infinite alternate ease-in-out;
    transform: translate(-50%, -50%);
}

@keyframes light-animation {
    5% { --mask-size: 10%; }
    10% { --mask-size: 9.5%; }
    15% { --mask-size: 9%; }
    20% { --mask-size: 8.5%; }
    25% { --mask-size: 8%; }
    30% { --mask-size: 7.5%; }
    35% { --mask-size: 7%; }
    40% { --mask-size: 6.5%; }
    45% { --mask-size: 6%; }
    50% { --mask-size: 5.5%; }
    55% { --mask-size: 5%; }
    60% { --mask-size: 4.5%; }
    65% { --mask-size: 4%; }
    70% { --mask-size: 3.5%; }
    75% { --mask-size: 3%; }
    80% { --mask-size: 2.5%; }
    85% { --mask-size: 2%; }
    90% { --mask-size: 1.5%; }
    95% { --mask-size: 1%; }
    100% { --mask-size: 0.5%; }
}


#lamp1 {
    height: 20%;
    width: 20%;
    top: -2%;
    left: 49.5%;
}

#lamp2 {
    height: 20%;
    width: 20%;
    top: 15%;
    left: 88%;
}

#lamp3 {
    height: 20%;
    width: 20%;
    top: 50%;
    left: 102%;
}

#lamp4 {
    height: 20%;
    width: 20%;
    top: 86%;
    left: 88%;
}

#lamp5 {
    height: 20%;
    width: 20%;
    top: 103%;
    left: 49.5%;
}

#lamp6 {
    height: 20%;
    width: 20%;
    top: 86%;
    left: 12%;
}

#lamp7 {
    height: 20%;
    width: 20%;
    top: 50%;
    left: -2%;
}

#lamp8 {
    height: 20%;
    width: 20%;
    top: 15%;
    left: 12%;
}

#lamp9 {
    height: 20%;
    width: 20%;
    top: 30%;
    left: 50%;
}

#lamp10 {
    height: 20%;
    width: 20%;
    top: 70%;
    left: 49.5%;
}

@keyframes metal-shine {
    0% { filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); }
    50% { filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.8)); }
    100% { filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); }
}

.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s !important;
}

.mute-button{
    position: absolute;
    width: 7vw;
    transform: translateY(-50%);
    top: 50%;
    filter: brightness(0) invert(1);
    right: 12%;
}